.postContainer {
  padding: 10px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.addBtnContainer {
  display: flex;
  justify-content: flex-end;
}

.addBtn {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 125px;
  margin: 30px 30px 0px 0px;
}
